/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*classes for text alignment*/

.name {
    -webkit-animation:colorchange 20s infinite alternate;   
}

  @-webkit-keyframes colorchange {
      0% {
        color: darkseagreen;
      }
      
      10% {
        color: #8e44ad;
      }
      
      20% {
        color: #1abc9c;
      }
      
      30% {
        color: #d35400;
      }
      
      40% {
        color: darkgoldenrod;
      }
      
      50% {
        color: #34495e;
      }
      
      60% {
        color: deeppink;
      }
      
      70% {
        color: #2980b9;
      }
      80% {
        color: #f1c40f;
      }
      
      90% {
        color: #2980b9;
      }
      
      100% {}
        color: pink;
      }
}

    div.left    {
        float: left;
        width: 50%;
        padding: 3%;
        box-sizing: border-box;
    }
    div.right   {
        float: right;
        width: 50%;
        padding: 3%;
        box-sizing: border-box;
    }
    div.center  {
        clear: both;
        width: 100%;
        color: black;
        margin: auto;
        padding: 20px;
    }
    div.caption {
        width: 90%;
        position: relative;
        top: 80vh;
        overflow: hidden;
    }
    div.captionFull {
        padding: 1%;
        box-sizing: border-box;
        width: 40%;
        position: relative;
        top: 87vh;
        overflow: hidden;
    }

.clientTITLES   {
    text-align: center;
    margin-top: 35vh;
}

#homeAD   {
    position: absolute;
    top: 0;
}


h1  {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;line-height:1;
    color: black;
    font-size: 3.0em;
}

h2  {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;line-height:1;
    font-size: 2.0em;
    font-style: italic;
    border-left: 10px;

}

h3  {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;line-height:1;
    font-size: 1.0em;
    padding: 5px;
    font-style: italic;
}

h4  {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;line-height:1;
    font-size: 2.5em;
}

h5  {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;line-height:1;
    font-size: 1.0em;
    padding: 5px;
}

h6  {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;line-height:1;
    font-size: 1.75em;
    padding: 0 0 0 10px;
}

#sub    {
    width: 60%;
}

b   {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;line-height:1;
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
}

#bottomnextR {
    position: absolute;
    right: 0;
    padding: 1%;
}

#bottomnextL {
    position: absolute;
    left: 0;
    padding: 1%;
}

b:hover {
    text-decoration: none;
    font-style: normal;
}

p   {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;line-height:1;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.25;
}

a   {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;line-height:1;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: italic;
    text-decoration: none;
}

a1 a2 a3  {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;line-height:1;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

header  {
    background: url(images/misc/poodle.gif) no-repeat;
    background-size: cover;
    height: 100vh;
}

#home   {
    position: absolute;
    right: 0;
    top: 10px;
    text-align: center;
}

nav {
    padding: 0 0 0 1%;
}

#CLIENTheader  {
    background: url(images/poodle.gif) no-repeat;
    background-size: cover;
    height: 100vh;
}

#clientPC  {
    background: url(images/pc_deer.jpeg) center top fixed no-repeat;
    background-size: cover;
    height: 80vh;
    clear: both;
    overflow: hidden;
}

#clientBC  {
    background: url(images/borncurious/JR_02.jpg) center top fixed no-repeat;
    background-size: cover;
    height: 80vh;
    clear: both;
    overflow: hidden;
}


#clientWM  {
    background: url(images/WomensMarch/WomensMarch_1.gif) center top fixed no-repeat;
    background-size: cover;
    height: 80vh;
    clear: both;
    overflow: hidden;
}

#clientYT  {
    background: url(images/yellowtail/WINE.gif) center top fixed no-repeat;
    background-size: cover;
    height: 80vh;
    clear: both;
    overflow: hidden;
}

#clientRED2  {
    clear: both;
    overflow: hidden;
    background: url(images/redemption/redemption%20adam.png) center top fixed no-repeat;
    background-size: cover;
    height: 80vh;
}

#clientSNPCNY    {
    clear: both;
    overflow: hidden;
    background: url(images/fentanyl/MASKGUY.gif) center top fixed no-repeat;
    background-size: cover;
    height: 80vh;
}


#clientJC    {
    clear: both;
    overflow: hidden;
    background: url(images/JC/horizontalstew.jpeg) center top fixed no-repeat;
    background-size: cover;
    height: 80vh;
}

#clientCC    {
    clear: both;
    overflow: hidden;
    background: url(images/columbiacare/191125_ColumbiaCare18751.jpg) center top fixed no-repeat;
    background-size: cover;
    height: 80vh;
}

#clientAMLACTIN    {
    clear: both;
    overflow: hidden;
    background: url(images/amlactin/heather.gif) center top fixed no-repeat;
    background-size: cover;
    height: 80vh;
}

#YT  {
    background: url(images/yellowtail/WINE.gif) no-repeat;
    background-size: cover;
    height: 80vh;
}

#misc01  {
    background: url(images/misc/dancers.gif) center top fixed no-repeat;
    background-size: cover;
    height: 100vh;
    clear: both;
    overflow: hidden;
    color: black;
}

#misc02  {
    background-size: cover;
    clear: both;
    overflow: hidden;
    color: black;
}

#scrolldowndummy    {
    width: 100VW;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#clientRED  {
    background: url(images/redemption/redemption%20adam.png) center top fixed no-repeat;
    background-size: cover;
    height: 100vh;
    clear: both;
    overflow: hidden;
}

#title  {
    padding: 1%;
}

#KCR1  {
    background-size: cover;
    height: 100vh;
    clear: both;
    overflow: hidden;
    color: white;
}

#superbowl  {
    padding: 2%;
}

.videoWrapperWide {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapperWide iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoWrapperSQUARE {
	position: relative;
	padding-bottom: 1%;
	padding-top: 25px;
	height: 0;
}

.videoWrapperSQUARE iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#advertisingCLIENTS ul li   {
    padding: 0 0 0 1%;
}

#advertisingCLIENTS ul li a h2:hover   {
    font-style: normal;
}

#avalanche2  {
    background-image: none;
    background: center top fixed no-repeat;
    background-size: cover;
    height: 100vh;
    clear: both;
    overflow: hidden;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 1%;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 233%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 1px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }    
}


@media screen and (max-width: 767px)    {
h1  {
    font-size: 30px;
    }
    
h2  {
    font-size: 20px;
    padding: 5px;
    }   
    
#sub    {
    width: 90%;
    }
    
 #clientBC  {
    background: url(images/borncurious/JR_02_mobile1.jpg) fixed no-repeat; 
    height: 100vh;
    background-size: cover;
}
    
#clientYT  {
    background: url(images/yellowtail/WINE_mobile1.gif) fixed no-repeat; 
    height: 100vh;
    background-size: cover;
}
    
#clientPC  {
    background: url(images/pc_deer.jpeg) center top fixed no-repeat;
    background-size: cover;
    height: 100vh;
}
    
#clientAMLACTIN  {
    background: url(images/amlactin/heather_mobile1.gif) fixed no-repeat;
    height: 100vh;
    background-size: cover;
}

#clientRED2  {
    background: url(images/redemption/redemptionadam_mobile1.jpg) fixed no-repeat;
    height: 100vh;
    background-size: cover;
}

#clientSNPCNY  {
    background: url(images/fentanyl/MASKGUY_mobile1.gif) fixed no-repeat;
    height: 100vh;
    background-size: cover;
}

#clientJC  {
    background: url(images/JC/horizontalstew_mobile1.jpg) fixed no-repeat;
    height: 100vh;
    background-size: cover;
}
    
#clientCC  {
    background: url(images/columbiacare/CC_mobile1.jpg) fixed no-repeat;
    height: 100vh;
    background-size: cover;
}
    
#clientWM  {
    background: url(images/WomensMarch/WomensMarch_mobile1.gif) fixed no-repeat;
    height: 100vh;
    background-size: cover;
}
    
#misc01 {
    display: none;
    }
}

@media screen and (max-width: 600px)    {

div.center  {
        width: 95%;    
    } 
    
div.left    {
        float: none;
        width: 100%;
        padding: 2%;
        margin: auto;
    }

div.right   {
        float: none;
        margin: auto;
        width: 100%;
        padding: 2%;
    }

div.caption {
        width: 90%;
        top: 40vh;
        clear: both;
        overflow: hidden;
    }

div.captionFull {
        width: 90%;
        top: 35vh;
        margin: auto;
    }
    
header  {
    height: 100vh;
    width: auto;
    }
    
#sub    {
    width: 90%;
    }

 #clientBC  {
    background: url(images/borncurious/JR_02_mobile1.jpg) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 80vh;
}    
    
 #clientYT  {
    background: url(images/yellowtail/WINE_mobile1.gif) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 80vh;
}
    
#clientAMLACTIN  {
    background: url(images/amlactin/heather_mobile1.gif) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 80vh;

}

#clientRED2  {
    background: url(images/redemption/redemptionadam_mobile1.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 80vh;

}

#clientSNPCNY  {
    background: url(images/fentanyl/MASKGUY_mobile1.gif) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 80vh;

}

#clientJC  {
    background: url(images/JC/horizontalstew_mobile1.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 80vh;

}
    
#clientCC  {
    background: url(images/columbiacare/CC_mobile1.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 80vh;

}
    
#clientWM  {
    background: url(images/WomensMarch/WomensMarch_mobile1.gif) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    }
    
#misc01 {
    display: none;
    }

}






